---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<ul>
  {% for post in site.publications reversed %}
    <li style="margin-bottom: 15px;">
      <!-- 논문 제목 -->
      <b>{{ post.title }}</b>
        {% if post.paperurl %}
          [<a href="{{ post.paperurl }}">PDF</a>]
          {% if post.doi %}
            [<a href="{{ post.doi }}">DOI</a>]
            {% if post.code %}
              [<a href="{{ post.code }}">Code</a>]
            {% endif %}
          {% endif %}
        {% endif %}
        <ul>
            <br> with "{{ post.coauthor}}"
            <p style="font-style: italic;"> 
              {% if post.venue %}{{ post.venue }}, {% endif %}{{ post.date | date: "%Y" }}
            </p>
            {% if post.award %}
              <p style= color: red;">-{{ post.award}}</p>
          {% endif %}
        </ul>
    </li>
  {% endfor %}
</ul>


