---
layout: archive
title: "Published/Submitted Papers"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

<ul>

<li> Data-Driven Sequential Sampling for Tail Risk Mitigation
  [<a href="https://arxiv.org/pdf/2503.06913">pdf</a>]
  <ul>
    <li style="margin-left: -25px;"> 
      with <a href="https://sites.google.com/view/dohyun">Dohyun Ahn</a></li>
    <li style="margin-left: -25px;"> {{"submitted"}}</li>
  </ul>
</li>

<li> Optimizing Input Data Collection for Ranking and Selection
  [<a href="https://arxiv.org/pdf/2502.16659">pdf</a>]
  <ul>
    <li style="margin-left: -25px;"> 
      with <a href="https://sites.google.com/view/eunhyesongphd/home">Eunhye Song</a></li>
    <li style="margin-left: -25px;"> {{"under 2nd Round Review at"}} <b>{{"Operations Research"}}</b></li>
    <li style="margin-left: -25px;"> Preliminary version: Optimizing Input Data Acquisition for Ranking and Selection: A View through the Most Probable Best
      [<a href="https://informs-sim.org/wsc22papers/224.pdf">pdf</a>][<a href="https://doi.org/10.1109/WSC57314.2022.10015453">doi</a>]
      <ul>
        <li style="margin-left: -25px;"> <b>{{"Proceedings of the 2022 Winter Simulation Conference"}}</b>, {{"2022"}} </li>
      </ul>
    </li>
  </ul>
</li>

<li> Ensemble Copula Coupling for Multivariate Input Modeling and Uncertainty Quantification
  <ul>
    <li style="margin-left: -25px;"> 
      with <a href="https://sites.google.com/site/catenoid/home">Kyoung-Kuk Kim</a> 
      and <a href="https://www.rhsmith.umd.edu/directory/michael-fu">Michael C. Fu</a> </li>
    <li style="margin-left: -25px;"> {{"under 2nd Round Review at"}} <b>{{"Mathematics of Operations Research"}}</b></li>
  </ul>
</li>

<li> Selection of the Most Probable Best
  [<a href="https://arxiv.org/abs/2207.07533">pdf</a>][<a href="https://doi.org/10.1287/opre.2022.0343">doi</a>]
  <ul>
    <li style="margin-left: -25px;"> 
      with <a href="https://sites.google.com/site/catenoid/home">Kyoung-Kuk Kim</a> 
      and <a href="https://sites.google.com/view/eunhyesongphd/home">Eunhye Song</a> </li>
    <li style="margin-left: -25px;"> <b>{{"Operations Research"}}</b>, {{"73(6):3199-3218, 2025"}} </li>
    <li style="margin-left: -25px;"> Preliminary version: Selection of the Most Probable Best under Input Uncertainty 
  [<a href="https://www.informs-sim.org/wsc21papers/179.pdf">pdf</a>][<a href="https://ieeexplore.ieee.org/document/9715474">doi</a>]
  <ul>
    <li style="margin-left: -25px;"> <b>{{"Proceedings of the 2021 Winter Simulation Conference"}}</b>, {{"2021"}} </li>
  </ul></li>
  </ul>
</li>

<li> Rate-Optimal Budget Allocation for the Probability of Good Selection
  [<a href="https://informs-sim.org/wsc24papers/con175.pdf">pdf</a>][<a href="https://doi.org/10.1109/WSC63780.2024.10838732">doi</a>]
  <ul>
    <li style="margin-left: -25px;"> 
      with <a href="https://eckman.engr.tamu.edu">David J. Eckman</a> </li>
    <li style="margin-left: -25px;"> <b>{{"Proceedings of the 2024 Winter Simulation Conference"}}</b>, {{"2024"}} </li>
    <li style="margin-left: -25px;color: red;">{{"Finalist, Best Contributed Theoretical Paper, WSC 2024"}} </li>
  </ul>
</li>

<li> Risk-Sensitive Ordinal Optimization
  [<a href="https://informs-sim.org/wsc23papers/283.pdf">pdf</a>][<a href="https://doi.org/10.1109/WSC60868.2023.10407133">doi</a>]
  <ul>
    <li style="margin-left: -25px;"> 
      with <a href="https://sites.google.com/view/dohyun">Dohyun Ahn</a> </li>
    <li style="margin-left: -25px;"> <b>{{"Proceedings of the 2023 Winter Simulation Conference"}}</b>, {{"2023"}} </li>
  </ul>
</li>

<!-- <li> Optimizing Input Data Acquisition for Ranking and Selection: A View through the Most Probable Best
  [<a href="https://informs-sim.org/wsc22papers/224.pdf">pdf</a>][<a href="https://doi.org/10.1109/WSC57314.2022.10015453">doi</a>]
  <ul>
    <li style="margin-left: -25px;"> 
      with <a href="https://sites.google.com/view/eunhyesongphd/home">Eunhye Song</a> </li>
    <li style="margin-left: -25px;"> <b>{{"Proceedings of the 2022 Winter Simulation Conference"}}</b>, {{"2022"}} </li>
  </ul>
</li> -->

<!-- <li> Selection of the Most Probable Best under Input Uncertainty 
  [<a href="https://www.informs-sim.org/wsc21papers/179.pdf">pdf</a>][<a href="https://ieeexplore.ieee.org/document/9715474">doi</a>]
  <ul>
    <li style="margin-left: -25px;"> 
      with <a href="https://sites.google.com/site/catenoid/home">Kyoung-Kuk Kim</a> 
      and <a href="https://sites.google.com/view/eunhyesongphd/home">Eunhye Song</a> </li>
    <li style="margin-left: -25px;"> <b>{{"Proceedings of the 2021 Winter Simulation Conference"}}</b>, {{"2021"}} </li>
  </ul>
</li> -->

</ul>

<h2>Working Papers</h2>

<ul>
  <li> On Theoretical Analysis of Algorithmic Collusion
    <ul>
      <li style="margin-left: -25px;"> 
        with Huijun Chen and <a href="https://dwshin.people.ust.hk/">Dongwook Shin</a></li>
    </ul>
  </li>
  <li> Reinforcement Learning with High-Dimensional Features
    <ul>
      <li style="margin-left: -25px;"> 
        with <a href="https://sites.google.com/view/dohyun">Dohyun Ahn</a> and <a href="https://dwshin.people.ust.hk/">Dongwook Shin</a></li>
    </ul>
  </li>
  <li> A Reduced Form Approach to Strategic Liquidity Provision in Automated Market Making
    <ul>
      <li style="margin-left: -25px;"> 
        with Donghwa Seo and <a href="https://sites.google.com/site/catenoid/home">Kyoung-Kuk Kim</a></li>
    </ul>
  </li>
  <li> Ranking and Selection with Multiple Correct Answers
    <ul>
      <li style="margin-left: -25px;"> 
        with Raahim Hashmi and <a href="https://eckman.engr.tamu.edu">David J. Eckman</a></li>
    </ul>
  </li>
</ul>

<!-- <p style="line-height: 0.8;">
<ul>
  {% for post in site.publications reversed %}
    {% if post.date %}
    <li style="margin-bottom: 15px;">
      <!-- 논문 제목 -->
      <!-- <u>{{ post.title }}</u>
        {% if post.paperurl %}
          [<a href="{{ post.paperurl }}">pdf</a>]
          {% if post.doi %}
            [<a href="{{ post.doi }}">doi</a>]
            {% if post.code %}
              [<a href="{{ post.code }}">code</a>]
            {% endif %}
          {% endif %}
        {% endif %}
      </li>
      <!-- <ul> -->
          <!-- with {{ post.coauthor}}
          <p style="font-style: italic;"> 
            {% if post.status %}{{ post.status }} {% endif %} 
          <b>{{ post.venue }}</b>, {{ post.date | date: "%Y" }}
          {% if post.award %}
            <p style= "color: red;">-{{ post.award}}</p>
        {% endif %}
      <!-- </ul> -->
    <!-- {% endif %}
  {% endfor %} -->
<!-- </ul>
</p>  -->



